@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";

/**
  * https://github.com/huozhi/sugar-high
  * Types that sugar-high have:
  * identifier
  * keyword
  * string
  * Class, number and null
  * property
  * entity
  * jsx literals
  * sign
  * comment
  * break
  * space
*/
:root {
  --sh-class: #2d5e9d;
  /* --sh-identifier: #354150; */
  --sh-identifier: var(--indigo-11);
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;

  /* custom for File component */
  --code-line-highlight: rgb(51 19 247 / 50%);
  --code-line-marker: rgb(51 19 247);

  /* 
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  html {
    /* color-scheme: dark; */
  }
}

.code-simple {
  --sh-class: var(--color-gray-fill-contrast);
}

/* https://github.com/huozhi/sugar-high?tab=readme-ov-file#line-number */
.prose pre code {
  counter-reset: sh-line-number;
}
.prose pre code .sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-right: 20px;
  text-align: right;
  color: #888;
}

/* FAILING TESTS */
/* .File .sh__line:nth-child(var(--highlight-lines)) {
  background-color: rgb(243 244 246);
}
.File .sh__line:nth-child(1) {
  @apply bg-white-a2;
} */
