@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";
@import "@radix-ui/colors/white-alpha.css";
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/gold-dark.css";

/* 
  Our app is monochrome, so we only need the color-gray scale, no color-accent scale. See: https://www.radix-ui.com/themes/docs/theme/color 

  Our color scale consists of steps with specific use cases. To know how this works, see: https://www.radix-ui.com/colors/docs/palette-composition/understanding-the-scale
 */

@layer base {
  :root {
    /* GRAY */
    /* backgrounds */
    /* --color-gray-base: var(--sand-1); */
    --color-gray-base: #fefefe;
    --color-gray-base: #fff;
    /* --color-gray-base: #f7f7f7; */
    --color-gray-bg-subtle: var(--sand-2);
    --color-gray-bg: var(--sand-3);
    --color-gray-bg: #f6f5f4; /* Notion */
    --color-gray-bg: #f6f9fc; /* Stripe */
    --color-gray-bg: #f7f7f7; /* Apple */
    --color-gray-bg-hover: var(--sand-3);
    --color-gray-bg-active: var(--sand-4);

    /* borders, lines & focus rings */
    --color-gray-border: var(--sand-5);
    --color-gray-border-hover: var(--sand-6);
    --color-gray-line: var(--sand-7);

    /* solids */
    --color-gray-solid-light: var(--sand-8);
    --color-gray-solid: var(--sand-9);
    --color-gray-solid-hover: var(--sand-10);

    /* text fills (avoids namespace clash with Tailwind text-*) */
    --color-gray-fill: var(--sand-11);
    --color-gray-fill-contrast: var(--sand-12);
    --color-gray-fill-bg: #313133;

    /* ACCENT */
    --color-accent-bg-subtle: var(--indigo-2);
    /* --color-accent-bg: var(--indigo-3); */
    --color-accent-bg: #edeff9;
    /* --color-accent-bg-active: var(--indigo-4); */
    --color-accent-bg-active: #edeff9;
    /* --color-accent-border: var(--indigo-6); */
    --color-accent-border: #3313f7;
    --color-accent-solid: var(--indigo-9);
    --color-accent-solid-hover: var(--indigo-10);
    /* --color-accent-fill: var(--indigo-11); */
    --color-accent-fill: #3313f7;
    --color-accent-fill-contrast: var(--indigo-12);

    /* COVALUES */
    /* --color-cov-bg: #ff9b8e;
    --color-cov-bg: #f1e2dd;
    --color-cov-bg: #f5ece4;
    --color-cov-bg: #fff0e8;
    --color-cov-bg-active: #fff0e8;
    --color-cov-solid: #ff9b8e;
    --color-cov-solid: #b64400;
    --color-cov-fill: #863f25;
    --color-cov-fill: #aa4906; */
    --color-cov-bg-subtle: var(--gold-2);
    --color-cov-bg: var(--gold-3);
    --color-cov-bg-active: var(--gold-4);
    --color-cov-border: var(--gold-6);
    --color-cov-solid: var(--gold-9);
    --color-cov-solid-hover: var(--gold-10);
    --color-cov-fill: var(--gold-11);
    --color-cov-fill-contrast: var(--gold-12);

    /* MESH */
    --color-mesh-fill: #9d34da;

    /* NOTICE */
    --color-notice-bg: var(--amber-3);
    --color-notice-solid: var(--amber-9);

    /* STRIPE GUIDE LINES */
    --guideDashedColor: rgba(66, 71, 112, 0.09);
    --guideDashedColor: transparent;
    --guideSolidColor: rgba(66, 71, 112, 0.06);
    --guideSolidColor: rgba(66, 71, 112, 0.09);
    --guideDarkColor: rgba(66, 71, 112, 0.12);
  }
}

/* 
  Slightly different dark base.
  Because `.dark` only exists when next-themes renders it, 
  we don't wrap it in `base` b/c we don't want Tailwind to omit it.
 */
.dark {
  --color-gray-base: #151515 !important;
  /* --color-gray-bg-subtle: var(--sky-2); */
  /* --color-gray-bg: var(--sky-3); */
  /* --color-gray-bg-hover: var(--sky-4); */
  /* only used on home page! */
  /* --color-gray-bg-active: #0d141f; */
  --color-gray-bg-active: var(--sky-1);
  /* I don't really want to do this, solid is otherwise not legible… */
  --color-gray-solid: var(--sand-10);
  /* …and I hate burning my eyes in dark mode */
  --color-gray-fill-contrast: var(--sand-11);
}
