@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./colors.css";
@import "./code-theme.css";
@import "./prose-theme.css";

@layer base {
  :root {
    --radius: 8px;
    --height-nav: 80px;
    --height-tab: 54px;
    --height-button: 44px;
    --height-button-sm: 32px;
    --space-inset: 24px;
    --space-inset-2x: calc(var(--space-inset) * 2);
    --space-under-nav: calc(var(--height-nav) + (var(--space-inset-2x)));
    --space-under-nav-nudge: calc(
      var(--height-nav) + (var(--space-inset-2x) * 1.2)
    );

    --container-text-px: 660px;
    --container-text: calc(var(--container-text-px) - (var(--space-inset) * 2));
    --container-hero-px: 1000px;
    --container-hero: calc(var(--container-hero-px) - (var(--space-inset) * 2));
  }
  * {
    @apply border-border;
  }
  html {
    @apply bg-canvas;
    @apply scroll-smooth;
  }
  ::selection {
    @apply bg-accent text-canvas;
  }
  body {
    @apply relative min-h-screen;
    @apply antialiased;
    @apply font-sans;
    @apply text-base;
    @apply font-normal tracking-[0];
    @apply bg-canvas text-fill;
    /* @apply bg-yellow-bg; */

    /* 1. Apple kerning, from http://design.byform.co/ */
    /* font-feature-settings: "kern" 1,'ss01' 1,'ss02' 1,'ss03' 1,'ss04' 1; */
    font-feature-settings:
      "kern" 1,
      "liga" 1;
    /* transition everywhere */
    transition: color 50ms ease 0s;
  }
  .overlay-close {
    background-color: "black";
  }
}

/* These utilities can be applied in the base & component layers */
@layer utilities {
  .link {
    @apply relative;
    @apply underline underline-offset-[0.25em];
    @apply decoration-solid decoration-[0.025em];
    @apply hover:text-accent;
    @apply hover:decoration-accent hover:decoration-[0.05em];
  }
  .hr-vertical {
    /* must add a height when used within a flex parent */
    @apply w-px border-l;
  }
  .styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #eaeaea transparent;
    scrollbar-gutter: stable;
  }

  /* TYPOGRAPHY */
  .Text-super {
    @apply font-display text-super font-bold;
    @apply tracking-[-0.05em];
  }
  .Text-title {
    @apply font-display text-title font-bold;
    @apply tracking-title;
  }
  .Text-subtitle {
    @apply font-display text-subtitle font-bold;
    @apply tracking-title;
  }
  .Text-heading {
    @apply font-display text-heading font-bold;
    @apply tracking-heading;
  }
  .Text-subheading {
    @apply font-display text-large font-bold;
    @apply tracking-heading;
  }
  .Text-large {
    @apply font-sans text-large font-bold;
    @apply tracking-normal;
  }
  .Text-meta {
    @apply font-mono text-meta font-medium uppercase;
    @apply tracking-[0.09em];
  }

  /* https://rauno.me/craft/nextjs#grid-lines */
  .gridLine {
    --background: #ffffff;
    --color: rgba(0, 0, 0, 0.3);
    --height: 1px;
    --width: 5px;
    --fade-stop: 90%;
    /* Bleed in or out from the container */
    --offset: 48px;

    position: absolute;
    width: calc(100% + var(--offset));
    height: var(--height);
    left: calc(var(--offset) / 2 * -1);

    background: linear-gradient(
      to right,
      var(--color),
      var(--color) 50%,
      transparent 0,
      transparent
    );
    background-size: var(--width) var(--height);

    /* Fade out the edges */
    mask-composite: exclude;
    -webkit-mask: linear-gradient(
        to left,
        var(--background) var(--fade-stop),
        transparent
      ),
      linear-gradient(to right, var(--background) var(--fade-stop), transparent),
      linear-gradient(black, black);
  }
  .gridLine-vertical {
    --background: #ffffff;
    --color: rgba(0, 0, 0, 0.3);
    --height: 1px;
    --width: 1px;
    --gap: 5px;
    --fade-stop: 90%;
    /* Bleed in or out from the container */
    --offset: 48px;

    position: absolute;
    height: calc(100% + var(--offset));
    width: var(--width);
    top: calc(var(--offset) / 2 * -1);

    background: linear-gradient(
      180deg,
      var(--color),
      var(--color) 50%,
      transparent 0,
      transparent
    );
    background-size: var(--width) var(--gap);

    mask-composite: exclude;
    -webkit-mask: linear-gradient(
        to top,
        var(--background) var(--fade-stop),
        transparent
      ),
      linear-gradient(
        to bottom,
        var(--background) var(--fade-stop),
        transparent
      ),
      linear-gradient(#000, #000);
  }
}

@layer components {
  .gridLine-after {
    @apply relative;
    @apply after:gridLine after:bottom-[-0.1px];
  }
  .gridLine-before {
    @apply relative;
    @apply before:gridLine before:top-[-0.1px];
  }
}
