:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --border-color: #2f2e2d;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 0;
  padding: 0.6em 1.2em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    --border-color: #e5e5e5;
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

* {
  border-color: var(--border-color);
}

header,
main {
  padding: 0.5rem 0;
}

header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  padding: 0 1rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}
