@tailwind base;
@tailwind components;
@tailwind utilities;

body article.nextra-content h1 {
    font-family: var(--font-manrope);
}

body article.nx-w-full h1 {
    font-family: var(--font-manrope);
    text-align: left;
    @apply tracking-tight;
    @apply text-6xl;
    @apply font-medium;
}

body article.nx-w-full h1:first-of-type {
    @apply mt-20;
}

body article.nx-w-full h2 {
    font-family: var(--font-manrope);
    text-align: left;
    @apply tracking-tight;
    @apply text-3xl;
    @apply font-[600];
}

body article.nx-w-full p {
    @apply max-w-3xl;
}

body pre code {
    line-height: 1.35;
}

body .nextra-card svg {
    color: black;
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

body .nextra-card:hover svg {
    color: black;
    opacity: 0.8;
}

.dark body .nextra-card svg {
    color: white;
    opacity: 0.4;
}

.dark body .nextra-card:hover svg {
    color: white;
    opacity: 0.8;
}

/* @media screen and (min-width: 80rem) {
    body article.nx-w-full {
        @apply -mx-32;
    }
} */

:root {
    --nextra-primary-hue: 30deg;
    --nextra-primary-saturation: 15%;
}

/* .nextra-nav-container nav {
    justify-content: flex-start;
    max-width: 70rem;
} */

.nextra-nav-container nav :first-child {
    margin-right: 0;
}

.nextra-nav-container nav a:not(:first-child) {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nextra-search+* {
    margin-left: auto;
}

body code, body kbd, body samp, body pre {
    font-family: var(--font-pragmata);
}

body code[data-line-numbers]>.line {
    padding-left: 0.25rem;
}

body code[data-line-numbers]>.line:before {
    --tw-text-opacity: 0.3;
    min-width: 1.5rem;
    font-size: 0.7rem;
    padding-right: 0.5rem;
    position: relative;
    top: 0.07rem;
}

body {
    --shiki-color-text: #606060;
    --shiki-color-background: transparent;
    --shiki-token-constant: #00a5a5;
    --shiki-token-string: #1aa245;
    --shiki-token-comment: #aaa;
    --shiki-token-keyword: #7b8bff;
    --shiki-token-parameter: #ff9800;
    --shiki-token-function: #445dd7;
    --shiki-token-string-expression: #1aa245;
    --shiki-token-punctuation: #969696;
    --shiki-token-link: #1aa245;
  }

.dark body {
    --shiki-color-text: #d1d1d1;
    --shiki-token-constant: #2DC9C9;
    --shiki-token-string: #ffab70;
    --shiki-token-comment: #6b737c;
    --shiki-token-keyword: #7b8bff;
    --shiki-token-parameter: #ff9800;
    --shiki-token-function: #9BABFF;
    --shiki-token-string-expression: #42BB69;
    --shiki-token-punctuation: #bbb;
    --shiki-token-link: #ffab70;
  }
