@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./color-theme.css";
@import "./apply-color-theme.css";

:root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@layer base {
  body {
    @apply font-sans font-normal antialiased;
    @apply text-base;
  }
}
